/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
span {
color:white
}

h2 {
text-align:center;
color: #D4AF37;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px;
font-family: Arial Black
}

label {
color:#D4AF37;
font-family: Arial Black;
	
	
}

hr {
border:0;
border-bottom:1px solid;
margin:10px -40px;
margin-bottom:30px
}

#login {
margin: auto;
width:450px;
border-radius:10px;
border:5px solid #D4AF37;
padding:10px 40px 25px;
background-color:#800000;
}

input[type=text],input[type=password] {
width:96.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:20px;
}

input[type=submit] {
width:100%;
background-color:#D4AF37;
font-weight: bold;
color:#800000;
border:2px solid #white;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
}

#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7
}

#logout {
float:right;
padding:5px;
border:dashed 1px gray
}

a {
text-decoration:none;
color:#6495ed
}

i {
color:#6495ed
}